<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    </head>
<body>
    <nav>
        <a href="{{ url_for('welcome') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('register') }}">Register</a>
    </nav>
    <h2 >ExploSure- Vulnerability Scanning Web Application</h2>
    <p id="about">Explosure is an vulnerability scanning web application which is used ny admin previleged persons 
        to scan systems of any types to detect the vulnerability hiding in the system which the user may or may not be awared off.
        By doing so , it ensures users protection and making the system powerfull and more secure.
        To know more about our tool visit this telegram group</p>
        
  
 </body>
    </div>

 