<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Glitch</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body background="/static/bg2.jpg">

<nav>
    <a href="{{ url_for('welcome') }}">Home</a>
    <a href="{{ url_for('about') }}">About</a>
    <a href="{{ url_for('contact') }}">Contact</a>
    <a href="{{ url_for('login') }}">Register</a>
    <a href="{{ url_for('logout') }}">Logout</a>

</nav>

<div class="logo">
    <img id="logo" src="/static/logo.png" >
</div>

<div>
    <div class="container">
        <div class="glitch" data-text="ExploSure">ExploSure</div>
        <div class="glow">ExploSure</div>
        <p class="subtitle"><marquee>Secured for sure</marquee></p>

    </div>
    <div class="scanlines"></div>
</div>
<br><br><br><br>       
<div class="overlay">
     <a href="{{ url_for('function1') }}" target="_blank" style="display:flex;justify-content: center;align-items: center; padding-top:200px;">
        <button class="button1"><b>Go to Functions Page</b><div class="button2"></div></button>
        </a>
        <div class="overlay1">
            <a href="{{ url_for('admin') }}" target="_blank" style="display:flex;justify-content: center;align-items: center; padding-top:200px;">
               <button class="button1"><b>table management</b><div class="button2"></div></button>
               </a>

    </div>
</body>
</html>