    <html>
    <head>
        <title>Login Page</title>
        <html>
          <head>
              <title>Login Page</title>
              <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width" />
              <title>Glitch</title>
              <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
            </head>
      <body background="/static/bg2.jpg">
          <nav>
              <a href="{{ url_for('welcome') }}">Home</a>
              <a href="{{ url_for('about') }}">About</a>
              <a href="{{ url_for('contact') }}">Contact</a>
              <a href="{{ url_for('login') }}">Register</a>
          </nav>
          
    
    <div class="logo">
     <img id="logo" src="/static/logo.png" >
     </div>
    
    
 <div>
  <div class="container">
  <div class="glitch" data-text="ExploSure">ExploSure</div>
  <div class="glow">ExploSure</div>
  <p class="subtitle"><marquee>Secured for sure<marquee></p>
</div>
  <div class="scanlines"></div>

  <button id="scan" value="">


    
  
 </body>
 </html>
 
 
